body, html {
    margin: 0;
    padding: 0;
}

html, body, #app, .main-layout {
    height: 100%;
}

body {
    background-color: $gray-1;
}

.container {
    margin: 2% auto 0 auto;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.el-header{
    background-color: $green;
}

.title {
    font-size: 30px;
    color: white;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
}

.login {
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
}

.login-header {
    text-align: center;
}

.page-title {
    font-size: 50px;
    color: white;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
}

.crud {
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
}

.libros {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
}

