<template>
    <VLayout>
        <v-toolbar>
            <span style="font-size:3em"> <i class="fa fa-book fa-lg" aria-hidden="true"></i> Nuevo Libro</span>
            <v-spacer></v-spacer>
            <v-btn rounded dark href="/libros">Salir del Formulario</v-btn>
        </v-toolbar>
        <v-container class="login">
            <v-card class="mx-auto" outlined>
                <v-toolbar dark>
                    <v-container>
                        <v-toolbar-title style="font-size:3em">Nuevo</v-toolbar-title>
                    </v-container>
                </v-toolbar>
                <v-container>
                    <v-card-text>
                        <form ref="form" v-model="form.valid" >
                            <v-text-field type="text" v-model="form.nombre" name="nombre" :rules="rules" label="Nombre"></v-text-field>
                            <v-text-field type="text" v-model="form.publicadora" name="publicadora" :rules="rules" label="Publicadora"></v-text-field>
                            <v-text-field type="text" v-model="form.pais" name="pais" :rules="rules" label="Pais de Origen"></v-text-field>
                            <v-text-field type="text" v-model="form.fecha" name="fecha" :rules="rules" label="Fecha Publicado"></v-text-field>
                            <v-text-field type="text" v-model="form.paginas" name="paginas" :rules="rules" label="Cantidad de Paginas"></v-text-field>
                            <v-text-field type="text" v-model="form.capitulos" name="capitulos" :rules="rules" label="Cantidad de Capitulos"></v-text-field>
                        </form>
                    </v-card-text>
                    <div align="center">
                        <v-btn rounded dark v-on:click="submit()">Guardar</v-btn>
                    </div>
                </v-container>
            </v-card>
        </v-container>
    </VLayout>
</template>

<script>
    export default {
        components: {},
        data() {
            return {
                form: {
                    valid: true,
                    nombre: '',
                    publicadora: '',
                    pais: '',
                    fecha: '',
                    paginas: '',
                    capitulos: ''
                },
                rules: [
                    v => !!v || 'Campo Requerido.',
                ],
            }
        },
        props: {
            source: String,
        },
        methods: {
            submit() {
                this.$inertia.post('/libros', {
                    nombre: this.form.nombre,
                    publicadora: this.form.publicadora,
                    pais: this.form.pais,
                    fecha: this.form.fecha,
                    paginas: this.form.paginas,
                    capitulos: this.form.capitulos
                });
            },
        },
    }
</script>
