<template>
    <div>
        <v-toolbar>
            <span style="font-size:3em"> <i class="fa fa-book fa-lg" aria-hidden="true"></i> Actualizar Libro</span>
            <v-spacer></v-spacer>
            <v-btn rounded dark href="/libros">Salir de la actualizacion</v-btn>
        </v-toolbar>
        <template>
            <v-main>
                <v-container fluid >
                    <v-row>
                        <v-col cols="12" sm="8" md="4">
                            <v-card class="elevation-12">
                                <v-toolbar dark flat>
                                    <v-toolbar-title>Actualizar Libros</v-toolbar-title>
                                    <v-spacer></v-spacer>
                                    <v-tooltip bottom>
                                        <template v-slot:activator="{ on }">
                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn :disabled="!form.valid" v-on:click="submit()">Actualizar</v-btn>
                                            </v-card-actions>
                                        </template>
                                    </v-tooltip>
                                </v-toolbar>
                                <v-card-text>
                                    <form ref="form" v-model="form.valid" >
                                        <v-text-field type="text" v-model="form.nombre" name="nombre"  label="Nombre"></v-text-field>
                                        <v-text-field type="text" v-model="form.publicadora" name="publicadora"  label="Publicadora"></v-text-field>
                                        <v-text-field type="text"  v-model="form.pais" name="pais"  label="Pais Origen"></v-text-field>
                                        <v-text-field type="text" v-model="form.fecha" name="fecha"  label="Fecha Publicado"></v-text-field>
                                        <v-text-field type="text" v-model="form.paginas" name="paginas"  label="Cantidad de Paginas"></v-text-field>
                                        <v-text-field type="text" v-model="form.capitulos" name="capitulos"  label="Cantidad de capitulos"></v-text-field>
                                    </form>
                                </v-card-text>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
        </template>
    </div>
</template>

<script>
    export default {
        components: {},
        data() {
            return {
                form: {
                    valid: true,
                    nombre: '',
                    publicadora: '',
                    pais: '',
                    fecha: '',
                    paginas: '',
                    capitulos: ''
                },
            }
        },
        props: {
            source: String,
        },
        methods: {
            submit() {
                this.$inertia.put('/libros' + this.form.id , {
                    nombre: this.form.nombre,
                    publicadora: this.form.publicadora,
                    pais: this.form.pais,
                    fecha: this.form.fecha,
                    paginas: this.form.paginas,
                    capitulos: this.form.capitulos
                });
            },
            mounted() {
                if (this.$page.users){
                    this.users = this.$page.users;
                }
            }
        },
    }
</script>
