<template>
    <VLayout>
        <v-toolbar>
            <span style="font-size:3em"> <i class="fa fa-book fa-lg" aria-hidden="true"></i> Tabla de Libros </span>
            <v-spacer></v-spacer>
            <v-btn rounded dark href="/">Salir de la Tabla </v-btn>
        </v-toolbar>
        <v-container class="login">
            <v-card>
                <v-toolbar dark>
                    <v-container class="login-header">
                        <v-toolbar-title></v-toolbar-title>
                    </v-container>
                </v-toolbar>
                <template>
                    <v-data-table :headers="headers" :items="desserts" sort-by="calories" class="elevation-1">
                        <template v-slot:top>
                            <v-toolbar flat color="white">
                                <v-toolbar-title>LIBROS</v-toolbar-title>
                                <v-spacer></v-spacer>
                                <template>
                                    <v-btn rounded color="primary" dark href="/libros/create">Nuevo libro</v-btn>
                                </template>
                                <v-dialog v-model="dialog" max-width="500px">
                                    <template>
                                        <v-data-table v-model="edit" :headers="headers" :data="libros" :items="libros">
                                            <template slot-scope="scope">
                                                {{scope.row}}
                                                <v-icon small  @click="edit">mdi-pencil</v-icon>
                                                <v-icon small @click="remove">mdi-delete</v-icon>
                                            </template>
                                        </v-data-table>
                                    </template>
                                </v-dialog>
                            </v-toolbar>
                        </template>
                    </v-data-table>
                </template>
            </v-card>
        </v-container>
    </VLayout>
</template>

<script>
    export default {
        components: {},
        data(){
            return{
                headers: [
                    {
                        text: 'Nombre',
                        align: 'start',
                        sortable: false,
                        value: 'nombre',
                        slot: 'scope'
                    },
                    { text: 'Publicadora' , value: 'publicadora', sortable: false},
                    { text: 'Pais de Origen', value: 'pais', sortable: false},
                    { text: 'Fecha Publicado', value: 'fecha', sortable: false},
                    { text: 'Cantidad Paginas', value: 'paginas', sortable: false},
                    { text: 'Cantidad Capitulos', value: 'capitulos', sortable: false},
                    { text: 'Acciones', sortable: false}
                ],
                libros: [
                    {
                        nombre: '',
                        publicadora: '',
                        pais: '',
                        fecha: '',
                        paginas: '',
                        capitulos: '',
                    }
                ],
            }
        },
        props: {
            source: String,
        },

        methods: {
            edit($id){
                this.$inertia.visit('/libros/' + $id + '/edit');
            },
            remove($id){
                this.$confirm('¿Está seguro que desea eliminar el libro?', 'Advertencia', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancelar',
                    type: 'warning'
                }).then(() => {
                    this.$inertia.delete('/libros/' + $id);
                }).cath(() => {
                    this.$message({
                        type: 'info',
                        message: 'Eliminar cancelado'
                    });
                });
            }
        },
        mounted() {
            if(this.$page.libros){
                this.libros = this.$page.libros;
            }
        }
    }
</script>
