<template>
    <v-app id="inspire">
        <v-navigation-drawer
            v-model="drawer"
            app
            clipped
        >
            <v-list dense>
                <inertia-link href="/">
                    <v-list-item link>
                        <v-list-item-action>
                            <v-icon>mdi-view-dashboard</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>Dashboard</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </inertia-link>

                <inertia-link href="/libros">
                    <v-list-item link>
                        <v-list-item-action>
                            <i class="fa fa-book fa-lg" aria-hidden="true"></i>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>Libros</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </inertia-link>
            </v-list>

            <template v-slot:append>
                <div class="pa-2">
                    <v-btn rounded block href="/logout"> Logout  </v-btn>
                </div>
            </template>

        </v-navigation-drawer>

        <v-app-bar app clipped-left>
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            <v-toolbar-title> <i class="fa fa-book fa-lg" aria-hidden="true"></i> Formulario de Libros</v-toolbar-title>
        </v-app-bar>

        <v-footer app>
            <span></span>
        </v-footer>
    </v-app>
</template>

<script>
    export default {
        props: {
            source: String,
        },
        data: () => ({
            drawer: null,
        }),
        created () {
            this.$vuetify.theme.dark = true
        },
    }
</script>
