<template>
    <div>

        <v-toolbar dark>
            <span class="page-title" style="font-size:3em; text-align: center">Formulario de Libros</span>
        </v-toolbar>

        <v-container class="login">
            <v-card class="mx-auto" outlined>
                <v-toolbar dark>
                    <v-container>
                        <v-toolbar-title style="font-size:3em">Login</v-toolbar-title>
                    </v-container>
                </v-toolbar>
                <v-container>
                    <v-form ref="form" v-model="valid" lazy-validation>

                        <v-text-field v-model="username" :counter="10" :rules="usernameRules"  hint="maximo 10 letras" label="Usuario" required></v-text-field>

                        <v-text-field v-model="password" :append-icon="show1 ?'mdi-eye' : 'mdi-eye-off'" :rules="[rules.required, rules.min]"
                                      :type="show1 ? 'text' : 'password'" label="Contraseña" hint="Al menos 8 caracteres"
                                      counter @click:append="show1 = !show1"></v-text-field>

                        <v-row align="center">
                            <v-col class="text-center" cols="20">
                                <div align="center" class="my-2">
                                    <v-btn rounded color="primary" dark @click="validate"> <i class="fa fa-user" aria-hidden="true"></i> Entrar </v-btn>
                                    <v-btn rounded color="error" dark @click="reset"> <i class="fa fa-eraser" aria-hidden="true"></i> Limpiar </v-btn>
                                </div>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-container>
            </v-card>
        </v-container>
    </div>
</template>

<script>
    export default {
        data: () => ({
            valid: true,
            username: '',
            usernameRules: [
                v => !!v || 'El usuario es requerido',
                v => (v && v.length <= 10) || 'El usuario no puede sobrepasar los 10 caracteres',
            ],
            password: '',
            show1: false,
            rules: {
                required: value => !!value || 'La contrasena es requerida',
                min: v => v.length >= 8 || 'Minimo 8 caracteres',
            },

        }),

        methods: {
            validate() {
                console.log(this.$refs.form.validate());
                if (this.$refs.form.validate) {
                    this.$inertia.post('/login', {
                        username: this.username,
                        password: this.password
                    })
                }
            },
            reset() {
                this.$refs.form.reset()
            },
        },
    }
</script>
